@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));     

.container {
  max-width: 1222px;
  margin: 0 auto;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 85%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 80%;
  }
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}
button,a{
  cursor: pointer;
}
.signup-slider ul.slick-dots li {
    width: 59px !important;
    background: #A3B18A;
    height: 11px;
    border-radius:10px;
}
.signup-slider ul.slick-dots li.slick-active{
  background:#588157;  
}
.signup-slider ul.slick-dots {
    position: absolute;
    bottom: 10px;
}
.signup-slider ul.slick-dots li button:before{
   content:"" !important;
}
.coveringclasses{
  box-shadow: rgb(0 0 0 / 25%) 0px 6px 12px -2px, rgb(80 80 80 / 30%) 0px 3px 7px -3px;
}
.slidercontainer {
  padding-right: 30px;
  padding-left: 30px;
}
.usernotfound:after {
  content:url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256 0C114.837 0 0 114.837 0 256C0 397.163 114.837 512 256 512C397.163 512 512 397.163 512 256C512 114.837 397.163 0 256 0ZM388.267 224.256L293.845 316.949C277.141 333.333 255.637 341.504 234.112 341.504C212.821 341.504 191.531 333.483 174.891 317.419L134.379 277.589C125.973 269.333 125.867 255.829 134.123 247.424C142.357 238.997 155.904 238.891 164.288 247.168L204.672 286.869C221.227 302.869 247.36 302.784 264 286.485L358.4 193.813C366.784 185.536 380.245 185.685 388.565 194.091C396.821 202.496 396.693 216 388.267 224.256Z' fill='%2343A329'/%3E%3C/svg%3E%0A");
  position: absolute;
    top: 58%;
    transform: translateY(-50%);
    right: 10px;
}
.userfound:after {
  content:url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256 0C114.615 0 0 114.615 0 256C0 397.385 114.615 512 256 512C397.385 512 512 397.385 512 256C511.847 114.678 397.322 0.153 256 0ZM341.333 311.189C350.002 319.168 350.562 332.664 342.583 341.333C334.604 350.002 321.108 350.562 312.439 342.583C312.005 342.184 311.589 341.767 311.189 341.333L256 286.165L200.832 341.333C192.357 349.518 178.852 349.283 170.667 340.808C162.683 332.541 162.683 319.435 170.667 311.168L225.835 256L170.667 200.832C162.482 192.357 162.717 178.852 171.192 170.667C179.459 162.683 192.565 162.683 200.832 170.667L256 225.835L311.189 170.667C319.168 161.998 332.664 161.438 341.333 169.417C350.002 177.396 350.562 190.892 342.583 199.561C342.184 199.995 341.767 200.411 341.333 200.811L286.165 256L341.333 311.189Z' fill='%23E13E32'/%3E%3C/svg%3E%0A");
  position: absolute;
    top: 58%;
    transform: translateY(-50%);
    right: 10px;
}
.usernotfound,.userfound {
  position: relative;
}
.passwordcover {
  position: relative;
}

.showingcontrol {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  right: 10px;
}
.account-formgroup{
  padding-bottom: 20px;
  display: flex;
  gap:5px;
  flex-direction: column;
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
:root {
  --primary: 217.1 30.4% 17.8%; /* #1B263B in HSL */
  --primary-foreground: 210 40% 98%;
  --secondary: 220 7.5% 89.6%; /* #E0E1DD in HSL */
  --secondary-foreground: 217.1 30.4% 17.8%;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --table-odd-item:oklch(0.97 0 0);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.239 0.05 267.57); /* #1B263B */
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.924 0.01 135.55); /* #E0E1DD */
  --secondary-foreground: oklch(0.239 0.05 267.57);
  --muted: oklch(0.924 0.01 135.55);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.924 0.01 135.55);
  --accent-foreground: oklch(0.239 0.05 267.57);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.239 0.05 267.57);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.924 0.01 135.55);
  --sidebar-accent-foreground: oklch(0.239 0.05 267.57);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.24 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.32 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.24 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.924 0.01 135.55);
  --primary-foreground: oklch(0.239 0.05 267.57);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.24 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --table-odd-item:oklch(0.28 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.chatsscrollingone div[data-slot="scroll-area-viewport"] > div  {
  display: block !important;
}

.trackbot-body table tr,.trackbot-body table td,.trackbot-body table th {
  border:1px solid var(--card-foreground);
  padding:10px;
}
.trackbot-body table thead{
  background-color: var(--ring);
  color: var(--accent-foreground);
}
.trackbot-body table {
  margin: 10px 0;
}
.trackbot-body ul{
  list-style: disc;
  margin-left: 20px;
}
.trackbot-body ol{
  list-style: decimal;
  margin-left: 20px;
}
.trackbot-body img{
  width: 50%;
  height: 50%;
}